*{
    width:100%;
    margin:0px auto;
}

.container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer"
}

#header{
    background-color:yellow;
    grid-area: header;
}

#nav{
    background-color:red;
    grid-area: nav;
}

#main{
    background-color:blue;
    grid-area: main;
}

#sidebar{
    background-color:pink;
    grid-area: sidebar;
}

#footer{
    background-color:green;
    grid-area: footer;
}